---
/* Compoonents */
import ProductMainItem from './ProductsMainIitem.astro';
import { getLangFromUrl } from '@/i18n/utils';

/* Data */
import { empanadaEnglish } from '@/core/data/products.data.en';
import { empanadaSpanish } from '@/core/data/products.data.es';

const lang = getLangFromUrl(Astro.url);

const products = lang === 'es' ? empanadaSpanish : empanadaEnglish;
---

<main class="ProductsMainSection">
  <section class="ProductsMainSection__products">
    {products.map(product => <ProductMainItem product={product} />)}
  </section>
</main>

<style>
  @reference: 'tailwindcss';
  .ProductsMainSection {
    @apply bg-(--primary) px-3 py-6 text-(--secondary) md:px-6 xl:overflow-hidden xl:px-0 xl:pb-0;
  }
  .ProductsMainSection__title {
    @apply mb-3 md:mb-6;
  }
  .ProductsMainSection__products {
    @apply grid grid-cols-1 gap-6 md:grid-cols-2 xl:gap-0;
  }
</style>
