---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import HeaderMenuItem from './HeaderMenuItem.astro';

import { getLangFromUrl, useTranslations } from '@i18n/utils';

import SocialMedia from '@components/ui/Social-media.astro';

import ChangeLanguageButton from '@components/ui/buttons/ChangeLanguageButton.astro';

import { businessData } from '@/core/data/business.data';

/* Images */
import logo from '@assets/images/logo/mordisko-criollo-logo-menu.webp';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="HeaderMenu">
  <input type="checkbox" id="HeaderMenu__Toggle" class="HeaderMenu__Toggle" />

  <label for="HeaderMenu__Toggle" class="HeaderMenu__Open">
    <Icon name="tabler:menu-2" size={48} />
  </label>
  <nav class="HeaderMenu__Nav" aria-label={t('nav.label')}>
    <div class="absolute top-3 left-3 lg:hidden">
      <ChangeLanguageButton />
    </div>
    <label for="HeaderMenu__Toggle" class="HeaderMenu__Close">
      <Icon name="tabler:x" size={36} />
    </label>
    <Image
      src={logo}
      alt={businessData.name}
      widths={[150, 250, 300, 0]}
      sizes="(max-width: 359px) 150px, (max-width: 639px) 250px, (max-width: 1023px) 300px, 0px"
      loading="lazy"
      fetchpriority="low"
      class="mt-12 w-full max-w-[150px] sm:mt-16 sm:max-w-[250px] md:max-w-[300px] lg:hidden"
      decoding="async"
    />
    <ul role="list">
      <li>
        <HeaderMenuItem
          href={`${t('nav.home.url')}`}
          label={t('nav.home')}
          tabindex="1"
        />
      </li>
      <li>
        <HeaderMenuItem
          href={`${t('nav.products.url')}`}
          label={t('nav.products')}
          tabindex="2"
        />
      </li>
      <li>
        <HeaderMenuItem
          href={`${t('nav.contact.url')}`}
          label={t('nav.contact')}
          tabindex="3"
        />
      </li>
    </ul>
    <div class="pt-6 lg:hidden">
      <SocialMedia variant="secondary" />
    </div>
  </nav>
</div>

<style>
  @reference "tailwindcss";
  .HeaderMenu {
    @apply z-20 flex w-[100px] justify-end lg:w-full lg:items-end;
  }

  .HeaderMenu label {
    @apply cursor-pointer;
  }

  .HeaderMenu input {
    @apply hidden;
  }

  .HeaderMenu__Open,
  .HeaderMenu__Close {
    @apply lg:hidden;
  }

  .HeaderMenu__Nav {
    @apply flex flex-col items-center justify-between bg-(--primary) max-lg:fixed max-lg:top-0 max-lg:right-0 max-lg:bottom-0 max-lg:left-0 max-lg:h-screen max-lg:w-full max-lg:translate-x-full max-lg:p-12 max-lg:transition-transform max-lg:duration-300 max-lg:ease-in-out lg:mx-auto;
  }

  .HeaderMenu__Close {
    @apply absolute top-3 right-3;
  }

  .HeaderMenu__Nav ul {
    @apply flex w-full grow flex-col items-center justify-center gap-y-6 lg:absolute lg:bottom-3 lg:left-[50%] lg:flex lg:translate-x-[-50%] lg:flex-row lg:gap-x-3;
  }

  .HeaderMenu nav ul li {
    @apply text-nowrap lg:block;
  }

  .HeaderMenu__Open,
  .HeaderMenu__Close {
    @apply text-(--secondary);
  }

  #HeaderMenu__Toggle:checked ~ .HeaderMenu__Nav {
    @apply translate-x-0;
  }
</style>
