---
import SocialMedia from "../../ux/Social-media.astro";
---

<div class="HeaderSocialMedia">
    <SocialMedia />
</div>

<style>
  @reference "tailwindcss";

  .HeaderSocialMedia {
    @apply hidden lg:block lg:w-[200px];
  }
</style>
