---
import SocialMedia from '../../ui/Social-media.astro';
---

<div class="HeaderSocialMedia">
  <SocialMedia />
</div>

<style>
  @reference "tailwindcss";

  .HeaderSocialMedia {
    @apply flex hidden items-center lg:block lg:min-w-[200px] xl:min-w-[300px] xl:items-end xl:justify-end 2xl:min-w-[400px];
  }
</style>
