---
import { Icon } from 'astro-icon/components'
import MenuIcon from "../../ux/icons/Menu.icon.astro";
---

<div class="HeaderMenu">
    <button>
        <Icon name="tabler:menu-2" size={48} />
    </button>
    <nav>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </nav>
</div>

<style>
    @reference "tailwindcss";
    .HeaderMenu {
        @apply w-[100px] flex justify-end lg:items-end relative lg:w-full;
    }

    .HeaderMenu button {
        @apply lg:hidden;
    }

    .HeaderMenu nav {
        @apply lg:mx-auto;
    }

    .HeaderMenu nav ul {
        @apply hidden lg:block lg:flex lg:flex-row lg:gap-x-3;
    }

    .HeaderMenu nav ul li {
        @apply lg:block text-nowrap;
    }

</style>