---
import { Icon } from 'astro-icon/components';

import { menuDataSpanish, menuDataEnglish } from '@data/index.data';

import SocialMedia from '@components/ui/Social-media.astro';

import ChangeLanguageButton from '@components/ui/buttons/ChangeLanguageButton.astro';

interface Props {
  lang: string;
}

const { lang = 'es' } = Astro.props;

const menuData = lang === 'es' ? menuDataSpanish : menuDataEnglish;
---

<div class="HeaderMenu">
  <input type="checkbox" id="HeaderMenu__Toggle" class="HeaderMenu__Toggle" />

  <label for="HeaderMenu__Toggle" class="HeaderMenu__Open">
    <Icon name="tabler:menu-2" size={48} />
  </label>
  <nav class="HeaderMenu__Nav">
    <div class="absolute top-3 left-3 lg:hidden">
      <ChangeLanguageButton lang={lang} />
    </div>
    <label for="HeaderMenu__Toggle" class="HeaderMenu__Close">
      <Icon name="tabler:x" size={36} />
    </label>
    <img
      class="w-full max-w-[150px] lg:hidden"
      src="/assets/images/logo/mordisko-criollo-logo.webp"
      alt="Mordisko Criollo"
    />
    <ul>
      {
        menuData.map(item => (
          <li>
            <a href={item.url}>{item.title}</a>
          </li>
        ))
      }
    </ul>
    <div class="lg:hidden">
      <SocialMedia variant="secondary" />
    </div>
  </nav>
</div>

<style>
  @reference "tailwindcss";
  .HeaderMenu {
    @apply z-20 flex w-[100px] justify-end lg:w-full lg:items-end;
  }

  .HeaderMenu label {
    @apply cursor-pointer;
  }

  .HeaderMenu input {
    @apply hidden;
  }

  .HeaderMenu__Open,
  .HeaderMenu__Close {
    @apply lg:hidden;
  }

  .HeaderMenu__Nav {
    @apply flex flex-col items-center justify-between bg-(--primary) max-lg:fixed max-lg:top-0 max-lg:right-0 max-lg:bottom-0 max-lg:left-0 max-lg:h-screen max-lg:w-full max-lg:translate-x-full max-lg:p-12 max-lg:transition-transform max-lg:duration-300 max-lg:ease-in-out lg:mx-auto;
  }

  .HeaderMenu__Close {
    @apply absolute top-3 right-3;
  }

  .HeaderMenu__Nav ul {
    @apply flex w-full grow flex-col items-center justify-center gap-y-6 lg:flex lg:flex-row lg:gap-x-3;
  }

  .HeaderMenu nav ul li {
    @apply text-nowrap lg:block;
  }

  #HeaderMenu__Toggle:checked ~ .HeaderMenu__Nav {
    @apply translate-x-0;
  }
</style>
