---
/* Images */
import { Image } from 'astro:assets';

import { businessData } from '@/core/data/business.data';

import logo from '@assets/images/logo/mordisko-criollo-logo-text.webp';
---

<div class="MainLogo">
  <Image
    src={logo}
    alt={businessData.name}
    widths={[100, 150, 175, 200, 225]}
    sizes="(max-width: 767px) 100px, (max-width: 1023px) 150px, (max-width: 1279px) 175px, (max-width: 1535px) 200px, 225px"
    loading="eager"
    fetchpriority="high"
    class="w-full max-w-[100px] max-lg:object-cover md:max-w-[150px] lg:max-w-[175px] xl:max-w-[200px] 2xl:max-w-[225px]"
    decoding="async"
  />
</div>

<style>
  @reference "tailwindcss";
  .MainLogo {
    @apply w-[100px] py-3 md:w-[150px] lg:w-[175px] lg:py-8 xl:min-w-[200px] 2xl:min-w-[225px];
  }
</style>
