<div class="MainLogo">
    <img class="md:hidden" src="/assets/images/logo/mordisko-criollo-no-text-logo.webp" alt="Mordisko Criollo" />
    <img class="max-lg:hidden" src="/assets/images/logo/mordisko-criollo-logo.webp" alt="Mordisko Criollo" />
</div>

<style>
    @reference "tailwindcss";
    .MainLogo {
        @apply w-[100px] lg:w-[200px];
    }
</style>