<div class="MainLogo">
    <img src="/assets/images/logo/mordisko-criollo-logo.webp" alt="Mordisko Criollo" />
</div>

<style>
    @reference "tailwindcss";
    .MainLogo {
        @apply w-[75px] md:w-[100px] lg:w-[200px] lg:min-w-[200px] xl:min-w-[300px] 2xl:min-w-[400px];
    }
</style>