---
/* Images */
import { Image } from 'astro:assets';

import { businessData } from '@/core/data/business.data';

import logo from '@assets/images/logo/mordisko-criollo-logo.webp';
---

<div class="MainLogo">
  <Image
    src={logo}
    alt={businessData.name}
    widths={[75, 100, 162]}
    sizes="(max-width: 767px) 75px, (max-width: 1023px) 100px, 162px"
    loading="eager"
    fetchpriority="high"
    class="w-full max-w-[75px] max-lg:object-cover md:max-w-[100px] lg:max-w-[162px]"
    decoding="async"
  />
</div>

<style>
  @reference "tailwindcss";
  .MainLogo {
    @apply w-[75px] md:w-[100px] lg:w-[200px] lg:min-w-[200px] xl:min-w-[300px] 2xl:min-w-[400px];
  }
</style>
