<div class="SecondaryLogo">
  <img
    class="max-md:hidden"
    src="/assets/images/logo/mordisko-criollo-logo.webp"
    alt="Mordisko Criollo"
  />
  <img
    class="md:hidden"
    src="/assets/images/logo/mordisko-criollo-text-logo.webp"
    alt="Mordisko Criollo"
  />
</div>

<style>
  @reference "tailwindcss";
  .SecondaryLogo {
    @apply grow lg:hidden;
  }

  .SecondaryLogo img {
    @apply m-auto w-full max-w-[175px] md:max-w-[130px];
  }
</style>
