---
import { generateKeywords } from "@utils/index.utils";
interface Props {
  location: string;
  title: string;
  metaDescription: string;
  keywords: string[];
}

const {
  location,
  title = "Mordisko Criollo",
  metaDescription = "",
  keywords = [],
} = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={metaDescription} />
  <meta name="keywords" content={generateKeywords(keywords)} />
</head>
