---
import MainLogo from '@components/shared/header/Main-logo.astro';
import SecondaryLogo from '@components/shared/header/Secondary-logo.astro';
import HeaderMenu from '@components/shared/header/HeaderMenu.astro';
import HeaderSocialMedia from '@components/shared/header/Header-social-media.astro';
import ChangeLanguageButton from '../ux/buttons/ChangeLanguageButton.astro';

interface Props {
  lang: string;
}

const { lang = 'es' } = Astro.props;
---

<header class="Header">
  <MainLogo />
  <HeaderMenu lang={lang} />
  <HeaderSocialMedia />
  <div
    class="hidden lg:absolute lg:top-auto lg:right-3 lg:bottom-0 lg:left-auto lg:z-50 lg:inline">
    <ChangeLanguageButton lang={lang} />
  </div>
</header>

<style>
  @reference "tailwindcss";
  .Header {
    @apply flex items-center justify-between gap-x-3 bg-[var(--primary)] p-3 text-[var(--secondary-darker)] lg:relative lg:h-full lg:items-stretch lg:px-6;
  }
</style>
