---
/* Components */
import MainLogo from '@components/shared/header/Main-logo.astro';
import HeaderMenu from '@components/shared/header/HeaderMenu.astro';
import HeaderSocialMedia from '@components/shared/header/Header-social-media.astro';
import ChangeLanguageButton from '../ui/buttons/ChangeLanguageButton.astro';
---

<header class="Header">
  <MainLogo />
  <HeaderMenu />
  <HeaderSocialMedia />
  <div
    class="hidden lg:absolute lg:top-auto lg:right-3 lg:bottom-0 lg:left-auto lg:z-50 lg:inline">
    <ChangeLanguageButton />
  </div>
</header>

<style>
  @reference "tailwindcss";
  .Header {
    @apply flex items-center justify-between gap-x-3 bg-(--primary) p-3 text-(--secondary) lg:relative lg:z-10 lg:h-full lg:items-stretch lg:px-6 lg:shadow-2xl;
  }
</style>
