@import 'tailwindcss';

:root {
  --primary: #fdcf00;
  --secondary: #470a68;
  --third: #db0401;
  --black: #000000;
  --white: #ffffff;
  --green: #5d9d26;
  --red: #ca3224;
  --black_: #010b13;
  --dark: #141414;
  --dark-text: #000409;
  --light: #fffbf6;
  --facebook: #3b5998;
  --twitter: #1da1f2;
  --whatsapp-color: #25d366;
  --whatsapp-dark-color: #075e54;
}

html {
  @apply scroll-smooth text-base text-(--light) md:text-lg lg:text-xl dark:text-(--light);
}

body {
  @apply bg-(--primary) text-(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-center;
}

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl;
}

h2 {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

h3 {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

h4 {
  @apply text-xl md:text-2xl lg:text-3xl;
}

h5 {
  @apply text-lg md:text-xl lg:text-2xl;
}

h6 {
  @apply text-base md:text-lg lg:text-xl;
}

p {
  @apply mb-3 text-pretty text-(--light);
}

.HeroSectionPages {
  @apply bg-(--primary) pt-6 text-(--secondary);
}

.HeroSectionPages__container {
  @apply mx-auto w-full px-3 max-2xl:max-w-[1200px] xl:px-0;
}

.HeroSectionPages h1 {
  @apply mb-3 text-2xl font-bold md:text-3xl lg:text-4xl;
}

.HeroSectionPages h2 {
  @apply text-lg font-light italic md:text-xl lg:text-2xl;
}

.form-group {
  @apply relative mb-6 w-full;
}
.form-group input,
.form-group textarea {
  @apply mb-0 block w-full rounded-lg border border-(--primary)/70 px-3 py-2 outline-0 transition-all duration-150 focus:border-(--primary) focus:shadow;
}

.form-group p {
  @apply absolute pl-1 text-xs font-bold text-(--red);
}
