---
import Layout from '@layouts/Layout.astro';

const title = 'Mordisko Criollo';
const metaDescription = 'Mordisko Criollo';
const keywords = ['Mordisko Criollo'];
const location = Astro.url.href;
---

<Layout
  lang="en"
  location={location}
  title={title}
  metaDescription={metaDescription}
  keywords={keywords}>
  <h1>Contact</h1>
</Layout>
