---
/* Components */
import Layout from "@layouts/Layout.astro";
import Section from "@components/shared/Section.astro";
import ContactForm from "@components/home/contact-form.svelte";

const lang = "en";
const title = "Mordisko Criollo";
const metaDescription = "Mordisko Criollo";
const keywords = ["Mordisko Criollo"];
const location = Astro.url.href;
---

<Layout
  lang="en"
  location={location}
  title={title}
  metaDescription={metaDescription}
>
  <Section variant="primary" title="Send us your orders or suggestions">
    <ContactForm client:visible lang={lang} />
  </Section>
</Layout>
