---
import Layout from "@layouts/Layout.astro";

const location = Astro.url.href;
const title = "Mordisko Criollo";
const metaDescription = "Mordisko Criollo";
---

<Layout
  lang="es"
  location={location}
  title={title}
  metaDescription={metaDescription}
>
  <h1>Contacto</h1>
</Layout>
