---
import Layout from "@layouts/Layout.astro";

import ContactForm from "@components/home/contact-form.svelte";

const title = "Mordisko Criollo";
const metaDescription = "Mordisko Criollo";
const keywords = ["Mordisko Criollo"];
const location = Astro.url.href;
---

<Layout
  lang="es"
  location={location}
  title={title}
  metaDescription={metaDescription}
  keywords={keywords}
>
  <h1>Inicio</h1>
  <ContactForm />
</Layout>
