---
/* Components */
import Layout from "@layouts/Layout.astro";
import Section from "@components/shared/Section.astro";
import ContactForm from "@components/home/contact-form.svelte";

const title = "Mordisko Criollo";
const metaDescription = "Mordisko Criollo";
const location = Astro.url.href;
---

<Layout
  lang="es"
  location={location}
  title={title}
  metaDescription={metaDescription}
>
  <h1>Home Page</h1>
  <Section variant="primary" title="Escríbenos tus pedidos o sugerencias">
    <ContactForm client:visible />
  </Section>
</Layout>
