---
import Layout from "@layouts/Layout.astro";

const location = Astro.url.href;
const title = "Mordisko Criollo";
const metaDescription = "Mordisko Criollo";
const keywords = ["Mordisko Criollo"];
---

<Layout
  lang="es"
  location={location}
  title={title}
  metaDescription={metaDescription}
  keywords={keywords}
>
  <h1>Productos</h1>
</Layout>
