---
interface Props {
  lang: string;
}
const { lang = 'es' } = Astro.props;
---

<section class="bg-[var(--secondary)] py-6 text-[var(--primary)]">
  <h2>{lang === 'es' ? 'Este será un banner' : 'This will be a banner'}</h2>
</section>
