<div class="hidden lg:flex lg:items-start lg:justify-center">
  <img
    class="w-full max-w-[400px]"
    src="/assets/images/logo/mordisko-criollo-logo-mid.webp"
    alt="Mordisko Criollo"
  />
</div>
