---
import Section from '@components/shared/Section.astro';

import { getLangFromUrl } from '@i18n/utils';

import WhatsappHomeSection from './Whatsapp-home-section.astro';
import ContactLogo from '@components/home/contact-logo.astro';
import Delivery from '@components/shared/Delivery.astro';

const lang = getLangFromUrl(Astro.url);

const title = lang === 'es' ? '¿Te antojaste de algo?' : 'Got a craving?';
---

<Section variant="primary" title={title}>
  <div class="ContactHomeSection">
    <WhatsappHomeSection />
    <ContactLogo />
    <Delivery classes="lg:col-span-2 lg:flex-row" />
  </div>
</Section>

<style>
  @reference "tailwindcss";
  .ContactHomeSection {
    @apply mx-auto max-w-[1200px] lg:grid lg:grid-cols-2 lg:gap-x-3;
  }
</style>
