---
import Section from '@components/shared/Section.astro';

import { getLangFromUrl } from '@i18n/utils';

import ContactForm from '@components/home/contact-form.svelte';
import ContactLogo from '@components/home/contact-logo.astro';
import Delivery from '@components/shared/Delivery.astro';

const lang = getLangFromUrl(Astro.url);

const title =
  lang === 'es'
    ? 'Escríbenos tus pedidos o sugerencias'
    : 'Write us your orders or suggestions';
---

<Section variant="primary" title={title}>
  <div class="ContactHomeSection">
    <ContactForm
      client:visible
      lang={lang}
      classes="max-w-[400px] xl:max-w-[600px] mx-auto"
    />
    <ContactLogo />
    <Delivery classes="lg:col-span-2 lg:flex-row" />
  </div>
</Section>

<style>
  @reference "tailwindcss";
  .ContactHomeSection {
    @apply mx-auto max-w-[1200px] lg:grid lg:grid-cols-2;
  }
</style>
