---
import RappiButton from '../ui/buttons/Rappi.button.astro';
import SeePrices from '../ui/buttons/SeePrices.button.astro';
import DidiFoodButton from '../ui/buttons/DidiFoodButton.astro';

import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="HeroHome">
  <h1
    class="max-w-3xl text-3xl leading-tight font-bold text-(--light) text-shadow-[0_0_1px_var(--secondary)] md:text-4xl lg:text-5xl">
    {t('hero.title')}
  </h1>
  <h3
    class="hidden text-lg font-bold text-(--light) italic text-shadow-[0_0_1px_var(--secondary)] sm:block md:text-xl">
    {t('hero.subtitle')}
  </h3>
  <p
    class="mb-0 text-center text-base text-shadow-[0_0_1px_var(--secondary)] xl:hidden">
    {t('hero.message')}
  </p>
  <p
    class="mb-0 text-center text-base text-shadow-[0_0_1px_var(--secondary)] max-xl:hidden">
    {t('hero.message-desktop')}
  </p>
  <div class="HeroHome__buttons">
    <RappiButton />
    <DidiFoodButton classes="xl:hidden" />
    <SeePrices classes="hidden xl:block" />
  </div>
</section>

<style>
  @reference "tailwindcss";
  .HeroHome {
    @apply relative flex min-h-[70vh] w-full flex-col items-center justify-center gap-y-3 overflow-hidden bg-[url('/assets/images/hero/compartir-empanadas-reuniones-amigos-medellin.webp')] bg-cover bg-center bg-no-repeat;
  }

  .HeroHome__buttons {
    @apply flex items-center gap-3 pt-6;
  }
</style>
