---
import { getLangFromUrl } from '@/i18n/utils';
import ContactFormComplete from '@components/contact/ContactForm.svelte';
import ContactInfoSection from '@components/contact/ContactInfo.section.astro';

const lang = getLangFromUrl(Astro.url);
---

<main class="ContactFormSection">
  <div class="ContactFormSection__container">
    <ContactFormComplete lang={lang} client:only="svelte" />
    <ContactInfoSection lang={lang} />
  </div>
  <div class="pt-6 lg:pt-9"></div>
</main>

<style>
  @reference "tailwindcss";
  .ContactFormSection {
    @apply bg-(--primary) px-3 pt-16 pb-8 text-(--dark);
  }
  .ContactFormSection__container {
    @apply mx-auto grid max-w-[1600px] gap-6 lg:grid-cols-2;
  }
</style>
