---
interface Props {
    size?: number;
}
import { Icon } from 'astro-icon/components'
const { size = 48 } = Astro.props;
---

<a href="#" target="_blank">
    <Icon name="tabler:brand-instagram" size={size} />
</a>