---
import { Icon } from 'astro-icon/components'
import WhatsappLink from "./Whatsapp.link.astro";
import FacebookLink from "./Facebook.link.astro";
import TiktokLink from "./Tiktok.link.astro";
import InstagramLink from "./Instagram.link.astro";

const size = 40;
---
<div class="SocialMedia">
    <WhatsappLink size={size} />
    <FacebookLink size={size} />
    <TiktokLink size={size} />
    <InstagramLink size={size} />
</div>

<style>
    @reference "tailwindcss";
    .SocialMedia {
        @apply w-full max-w-[400px] flex flex-row gap-x-3 justify-center lg:justify-end xl:gap-x-9 2xl:gap-x-12;
    }
</style>
