---
import { businessDataSpanish } from '@data/index.data';
import { businessDataEnglish } from '@data/index.data';

interface Props {
  lang: string;
}

const { lang = 'es' } = Astro.props;

const businessData = lang === 'es' ? businessDataSpanish : businessDataEnglish;
---

<div class="CopyRight">
  <h5>{businessData.name} © {new Date().getFullYear()}</h5>
  <span class="hidden">-</span>
  <h6>{businessData.copyRight}</h6>
</div>

<style>
  @reference "tailwindcss";

  .CopyRight {
    @apply bg-[var(--secondary)] p-3 text-center text-sm text-[var(--white)];
  }
</style>
