---
import { businessData } from '@/core/data/business.data';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

interface Props {
  lang: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="CopyRight">
  <h5>{businessData.name} © {new Date().getFullYear()}</h5>
  <span class="hidden">-</span>
  <h6>{t('copyRight')}</h6>
</div>

<style>
  @reference "tailwindcss";

  .CopyRight {
    @apply bg-(--secondary) p-3 text-center text-sm text-(--white);
  }
</style>
