---
import { Icon } from 'astro-icon/components';

/* Lang */
import { getLangFromUrl } from '@i18n/utils';
import { uiMenu } from '@/i18n/ui';

interface Props {
  classes?: string;
}

const lang = getLangFromUrl(Astro.url);

const callToAction = lang === 'es' ? 'Ver Precios' : 'See Prices';

const size = 48;

const { classes } = Astro.props;
const url = uiMenu[lang]['nav.products.url'];
---

<a href={url}>
  <div class={`SeePricesButton ${classes}`.trim()}>
    <Icon name="tabler:list" size={size} class="text-(--secondary)" />
    <p>{callToAction}</p>
  </div>
</a>

<style>
  @reference "tailwindcss";
  .SeePricesButton {
    @apply flex items-center justify-center gap-2 rounded-2xl bg-(--primary) px-2 py-1 md:border-4 md:border-(--secondary);
  }

  .SeePricesButton p {
    @apply m-0 font-bold text-(--secondary);
  }
</style>
