---
interface Props {
  size?: number;
  variant: 'primary' | 'secondary';
}
import { Icon } from 'astro-icon/components';
const { size = 48, variant = 'primary' } = Astro.props;
const color = variant === 'primary' ? 'text-(--primary)' : 'text-(--secondary)';
---

<a href="#" target="_blank">
  <Icon name="tabler:brand-tiktok" size={size} class={color} />
</a>
