---
import { getLangFromUrl } from '@/i18n/utils';
import { Icon } from 'astro-icon/components';
import { generateLinkWhatsapp } from '@/core/utils';
import { businessDataEnglish } from '@/core/data/business.data.en';
import { businessDataSpanish } from '@/core/data/business.data.es';

interface Props {
  size?: number;
  variant: 'primary' | 'secondary';
}
const lang = getLangFromUrl(Astro.url);
const businessData = lang === 'es' ? businessDataSpanish : businessDataEnglish;
const { size = 48, variant = 'primary' } = Astro.props;

const whatsappLinkShare = generateLinkWhatsapp(businessData.whatsapp.message);
const color = variant === 'primary' ? 'text-(--primary)' : 'text-(--secondary)';
---

<a href={whatsappLinkShare} target="_blank">
  <Icon name="tabler:brand-whatsapp" size={size} class={color} />
</a>
